nodered_project.json
[{"id":"b63a5112.230ac","type":"tab","label":"Project","disabled":false,"info":""},{"id":"b23e103c.dda48","type":"debug","z":"b63a5112.230ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"248fd453.46410c","type":"function","z":"b63a5112.230ac","name":"hum","func":"msg.payload = msg.payload.hum\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["b23e103c.dda48","db7a68e5.44b4b8","713b62c4.8f5c9c"]]},{"id":"137f27c2.acb8f8","type":"function","z":"b63a5112.230ac","name":"temp","func":"msg.payload = msg.payload.temp\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":180,"wires":[["b23e103c.dda48","6cd04295.052fec","c6623e69.fc446"]]},{"id":"3d0422f1.7e9aee","type":"function","z":"b63a5112.230ac","name":"air","func":"msg.payload = msg.payload.air\nglobal.set('a',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":260,"wires":[["b23e103c.dda48","1857a60d.16fa0a","7ced7c21.604a64"]]},{"id":"906e7bd2.dd9e58","type":"http in","z":"b63a5112.230ac","name":"","url":"cargo","method":"get","upload":false,"swaggerDoc":"","x":180,"y":740,"wires":[["7dfe5775.89fb68"]]},{"id":"8fcbd375.08c31","type":"http response","z":"b63a5112.230ac","name":"","statusCode":"","headers":{},"x":590,"y":740,"wires":[]},{"id":"6cd04295.052fec","type":"ui_gauge","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":9,"width":6,"height":4,"gtype":"gage","title":"temp","label":"units","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":180,"wires":[]},{"id":"db7a68e5.44b4b8","type":"ui_gauge","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":16,"width":6,"height":4,"gtype":"gage","title":"hum","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":220,"wires":[]},{"id":"1857a60d.16fa0a","type":"ui_gauge","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":23,"width":6,"height":4,"gtype":"gage","title":"air","label":"units","format":"{{value}}","min":"0","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":260,"wires":[]},{"id":"7dfe5775.89fb68","type":"function","z":"b63a5112.230ac","name":"webpage","func":"msg.payload = {\"temp\": global.get('t'), \"hum\": global.get('h'),\"air\":global.get('a')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":740,"wires":[["8fcbd375.08c31","eab7f0ea.cee23"]]},{"id":"90e8ba14.57b3d8","type":"function","z":"b63a5112.230ac","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('la', lat)\nglobal.set('lo', lon)\nglobal.set('name', name) \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":60,"wires":[["fab767f1.c2cf68","9e45f5e8.95f438"]]},{"id":"fab767f1.c2cf68","type":"debug","z":"b63a5112.230ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":60,"wires":[]},{"id":"9e45f5e8.95f438","type":"function","z":"b63a5112.230ac","name":"","func":"var l = global.get('lo')\nvar lo = global.get('lo')\nvar n = global.get('name')\nmsg.payload = {\n    \"lat\": l,\n    \"lon\": lo,\n    \"name\":n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":160,"wires":[["75ea0901.2dd318","9a4c74a1.8a43a8"]]},{"id":"d3e9d90a.8043f8","type":"function","z":"b63a5112.230ac","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":300,"wires":[["acd52d6f.c8fc4"]]},{"id":"acd52d6f.c8fc4","type":"rbe","z":"b63a5112.230ac","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1110,"y":380,"wires":[["64176436.f3485c"]]},{"id":"64176436.f3485c","type":"switch","z":"b63a5112.230ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":440,"wires":[["917c4eb3.eb4ad","b5975082.4269d"],["d6971fe5.218ff"]]},{"id":"917c4eb3.eb4ad","type":"function","z":"b63a5112.230ac","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":480,"wires":[["af984b95.59d6b8","46329aaa.257234","ed22a4b5.8ae9a8"]]},{"id":"b5975082.4269d","type":"function","z":"b63a5112.230ac","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\n\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":520,"wires":[["6b8e7a11.b07b04","232e5439.08a6cc"]]},{"id":"d6971fe5.218ff","type":"function","z":"b63a5112.230ac","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\n\n\nmsg.payload = {\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":560,"wires":[["232e5439.08a6cc"]]},{"id":"6b8e7a11.b07b04","type":"ui_toast","z":"b63a5112.230ac","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1630,"y":520,"wires":[[]]},{"id":"46329aaa.257234","type":"http request","z":"b63a5112.230ac","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=raHQEiPelSYD78z54nLws2AxJB6vpjuO90CUFkdmKNfoMWIgbXoYLyM5mjzeJXKnOQb10NW7uV9iFSrD&route=q&message=The%20Cargo%20truck%20has%20reached%20the%20destination.&language=english&flash=0&numbers=8837887295","tls":"","persist":false,"proxy":"","authType":"","x":1630,"y":380,"wires":[["af984b95.59d6b8"]]},{"id":"232e5439.08a6cc","type":"debug","z":"b63a5112.230ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":560,"wires":[]},{"id":"af984b95.59d6b8","type":"debug","z":"b63a5112.230ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":300,"wires":[]},{"id":"75ea0901.2dd318","type":"debug","z":"b63a5112.230ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1590,"y":160,"wires":[]},{"id":"b08d79d9.d03f28","type":"http in","z":"b63a5112.230ac","name":"","url":"data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":800,"wires":[["eab7f0ea.cee23","805fc017.08737","550f2e42.a5fff"]]},{"id":"805fc017.08737","type":"http response","z":"b63a5112.230ac","name":"","statusCode":"","headers":{},"x":610,"y":800,"wires":[]},{"id":"eab7f0ea.cee23","type":"debug","z":"b63a5112.230ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":860,"wires":[]},{"id":"aa03cdec.bedd6","type":"ibmiot in","z":"b63a5112.230ac","authentication":"apiKey","apiKey":"7c17870c.9476c8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"11042002","applicationId":"","deviceType":"IOTCHETAN","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["137f27c2.acb8f8","248fd453.46410c","3d0422f1.7e9aee","b23e103c.dda48","90e8ba14.57b3d8","93a149fa.5ee428"]]},{"id":"93a149fa.5ee428","type":"cloudant out","z":"b63a5112.230ac","name":"","cloudant":"","database":"project","service":"node-red-xljwe-2021--cloudant-1625993260045-72888","payonly":false,"operation":"insert","x":230,"y":400,"wires":[]},{"id":"ed22a4b5.8ae9a8","type":"cloudant out","z":"b63a5112.230ac","name":"","cloudant":"","database":"location","service":"node-red-xljwe-2021--cloudant-1625993260045-72888","payonly":false,"operation":"insert","x":1660,"y":480,"wires":[]},{"id":"458eb232.5b713c","type":"ui_button","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":3,"width":6,"height":1,"passthru":false,"label":"TEMP PLUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"TEMP PLUS\"}","payloadType":"json","topic":"topic","topicType":"msg","x":290,"y":500,"wires":[["417e2322.72b92c","550f2e42.a5fff"]]},{"id":"942ae24d.160a5","type":"ui_button","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":6,"width":6,"height":1,"passthru":false,"label":"TEMP MINUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"TEMP MINUS\"}","payloadType":"json","topic":"topic","topicType":"msg","x":310,"y":560,"wires":[["417e2322.72b92c","550f2e42.a5fff"]]},{"id":"417e2322.72b92c","type":"debug","z":"b63a5112.230ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"550f2e42.a5fff","type":"ibmiot out","z":"b63a5112.230ac","authentication":"apiKey","apiKey":"7c17870c.9476c8","outputType":"cmd","deviceId":"11042002","deviceType":"IOTCHETAN","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":560,"wires":[]},{"id":"9a4c74a1.8a43a8","type":"geofence","z":"b63a5112.230ac","name":"","mode":"circle","inside":"both","rad":131.95681871973014,"points":[],"centre":{"latitude":28.62051454799331,"longitude":77.0508863031864},"floor":"","ceiling":"","worldmap":true,"outputs":2,"x":1100,"y":240,"wires":[["d3e9d90a.8043f8","a7f373bc.11366"],[]]},{"id":"a7f373bc.11366","type":"ui_worldmap","z":"b63a5112.230ac","group":"3e017997.f85ce6","order":30,"width":14,"height":12,"name":"","lat":"28.620561","lon":"77.052143","zoom":"16","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1400,"y":240,"wires":[]},{"id":"c6623e69.fc446","type":"ui_chart","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":11,"width":6,"height":4,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"120","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":180,"wires":[[]]},{"id":"713b62c4.8f5c9c","type":"ui_chart","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":18,"width":6,"height":4,"label":"hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":220,"wires":[[]]},{"id":"7ced7c21.604a64","type":"ui_chart","z":"b63a5112.230ac","name":"","group":"3e017997.f85ce6","order":25,"width":6,"height":4,"label":"air","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":260,"wires":[[]]},{"id":"3e017997.f85ce6","type":"ui_group","name":"CARGO","tab":"9b845193.4f16d","order":1,"disp":true,"width":14,"collapse":false},{"id":"7c17870c.9476c8","type":"ibmiot","name":"IOT_CHETAN","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9b845193.4f16d","type":"ui_tab","name":"PROJECT","icon":"dashboard","disabled":false,"hidden":false}]